body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.form-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.form-control {
    width: 400px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

    .form-control:focus {
        outline: none;
        box-shadow: 0 0 5px #aaa;
        border-color: #aaa;
    }

.form-control-file {
    width: 400px;
    max-width: 100%;
    height: 40px;
    padding: 8px 0;
    font-size: 16px;
    border: none;
    background: none;
    box-sizing: border-box;
    margin: 0 auto;
}

.btn-container {
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    width: 400px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
}

.btn-primary {
    background-color: #007bff;
}

.error-label {
    color: #cc0000;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #cc0000;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffdddd;
    width: 400px;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-containerIns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
